@import './reset.scss';
@import './variables.scss';
@import './mixin.scss';
@import './element-ui.scss';
@import './animation.scss';
@import './common.scss';
@import './iconfont.scss';

html {
	font-size: 100%;
}

* {
	box-sizing: border-box;
}

#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
	height: 100%;
	width: 100%;
	// overflow: hidden;
	color: $panel-word-color;
}

.content-page {
	height: 100%;
	padding: 16px;
	overflow: hidden;
}

.search-wrap {
	min-height: 64px;
	width: 100%;
	background: $mainTextColor;
	padding-top: 16px;
	border-radius:4px;
	box-shadow: 0px 4px 10px 0px rgba(107,108,124,0.08);
}

.table-wrap {
	height: calc(100% - 80px);
	background-color: $mainTextColor;
	box-shadow: 0px 4px 10px 0px rgba(107,108,124,0.08);
	padding: 16px;
	border-radius: 4px;
}
