.detail-panel {
  padding: 0 16px;
  font-family:SimSun;
  font-size:12px;
  font-weight:400;
  color:rgba(122,125,130,1);
  line-height:36px;
}
.innerClass {
  position: fixed;
  right: 0;
  top: 78px;
}