$bgColor: #000C26;
$textColor: #50AFFF;
$borderColor: #204D7D;

$headerHeight: 60px;

//main
$mainBg: #409eff;
// 面板相关颜色值
$panel-word-color                     : #50afff;
// $panel-bg-color                     : rgba(0, 12, 38, 0.9);
$panel-bg-color                     : #000c26;
$panel-border-color                 : #204d7e;
$panel-app-bubble-angle-color       : #000c26;
$panel-app-bubble-angle-bg-color    : #204d7d;
$panel-app-list-color               : #badfff;
$panel-map-list-color               : #4faeff;
$panel-app-font-size                : 14px;
$panel-bg-hover-color               : #0b2b51;



// tocc

// green

$mainColor: #27BCBA;
$mainTextColor: #fff;
$mainBgColor: #E2FCFC;
$activeMainColor: #08B0AE;
$activeBottomColor: #a7d7d6;
$borderColor: #DADBDC;
$chartBgColor: #88DDB9;
$bgColor: #f4f4f4;

$headerHeight: 56px;


// reset

$panel-word-color: #7A7D82;
$panel-bg-color: #fff;
$panel-border-color: #CED6DD;
$panel-app-list-color: #4E5258;
